---
layout: home
title: Home
---

<nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
  <div class="container">
    <a class="navbar-brand pe-4 fs-4" href="/">
      <img src="img/logo.png"  class="bi bi-layers-half"  alt="nice gallery image" width="64">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-layers-half" viewbox="0 0 16 16">
        <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
      </svg> -->
      <span class="ms-1 fw-bolder"><span class="font-serif">die </span>RESONANZ</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
    <a class="nav-link" href="#top" aria-label="Brings you to the frontpage">
      Über uns
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#raeume">
      Räume
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#galerie">
      Galerie
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#testimonials">
      Referenzen
    </a>
  </li>

    </ul>
    </div>
</div>
</nav>

    <main>
      {% assign head = site.content | where: "cid", "HEAD" | first %}
      {% assign studio = site.content | where: "cid", "STUDIO" | first %}
      {% assign raum1 = site.content | where: "cid", "R01" | first %}
      {% assign raum2 = site.content | where: "cid", "R02" | first %}
      {% assign raum3 = site.content | where: "cid", "R03" | first %}


      <div class="w-100 overflow-hidden bg-gray-100" id="top">
  
        <div class="container position-relative">
          <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url(img/baustelle.jpeg);">
          </div>
          <div class="row">
            <div class="col-lg-5 py-vh-6 position-relative" data-aos="fade-right">
              <h1 class="display-1 fw-bold mt-5">{{ head.titel | markdownify  }}</h1>
              <p class="lead">{{ head.beschreibung }}</p>
              <a href="#" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">{{ head.button }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-5 w-100 overflow-hidden" id="raeume">
        <div class="container">
            <div class="row d-flex justify-content-end">
              <div class="col-lg-8" data-aos="fade-down">
                <h2 class="display-6">{{ studio.text }}</h2>
              </div>
            </div>

            <div class="row d-flex align-items-center">
              <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <span class="h5 fw-lighter">{{ studio.raum1-titel }}</span>
                <h3 class="py-5 border-top border-dark">{{ raum1.name }}</h3>
                <p>{{ raum1.beschreibung }}</p>
                <a href="#raum1" class="link-fancy">{{ raum1.link-text }}
                </a>
              </div>

              <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <span class="h5 fw-lighter">{{ studio.raum2-titel }}</span>
                <h3 class="py-5 border-top border-dark">{{ raum2.name }}</h3>
                <p>{{ raum2.beschreibung }}</p>
                <a href="#raum2" class="link-fancy">{{ raum2.link-text }}
                </a>
              </div>

              <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="600">
                <span class="h5 fw-lighter">{{ studio.raum3-titel }}</span>
                <h3 class="py-5 border-top border-dark">{{ raum3.name }}</h3>
                <p>{{ raum3.beschreibung }}</p>
                <a href="#raum3" class="link-fancy">{{ raum3.link-text }}
                </a>
              </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="raum1">
        <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-6">
              <div class="row gx-5 d-flex">
                <div class="col-md-11">
                  <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right" style="background-image: url( {{ raum1.bild1 }} );--bs-aspect-ratio: 70%;">
                  </div>
                </div>
                <div class="col-md-5 offset-md-1">
                  <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up" style="background-image: url( {{ raum1.bild2 }});">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left" style="background-image: url( {{ raum1.bild3 }});--bs-aspect-ratio: 150%;">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <h2 class="py-5 border-top border-dark" data-aos="fade-left">{{raum1.name}}</h2>
              
              <h3 class="py-5" data-aos="fade-left">{{raum1.textblock-gross}}</h3>
              <p data-aos="fade-left" data-aos-delay="200">{{raum1.textblock-klein}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="raum2">
        <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-6">
              <div class="row gx-5 d-flex">
                <div class="col-md-5">
                  <div class="shadow ratio rounded bg-cover bp-center" data-aos="fade-left" style="background-image: url( {{ raum2.bild1 }});--bs-aspect-ratio: 120%;">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="shadow ratio ratio-4x3 rounded bg-cover bp-center align-self-end" data-aos="fade-up" style="background-image: url( {{ raum2.bild2 }});">
                  </div>
                </div>
                <div class="col-md-11 offset-md-1">
                  <div class="shadow ratio ratio-16x9 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-right" style="background-image: url( {{ raum2.bild3 }} );--bs-aspect-ratio: 70%;">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <h2 class="py-5 border-top border-dark" data-aos="fade-left">{{raum2.name}}</h2>
              
              <h3 class="py-5" data-aos="fade-left">{{raum2.textblock-gross}}</h3>
              <p data-aos="fade-left" data-aos-delay="200">{{raum2.textblock-klein}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="raum3">
        <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-6">
              <div class="row gx-5 d-flex">
                <div class="col-md-5">
                  <div class="shadow ratio rounded bg-cover bp-center" data-aos="fade-left" style="background-image: url( {{ raum3.bild3 }});--bs-aspect-ratio: 120%;">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="shadow ratio ratio-4x3 rounded bg-cover bp-center align-self-end" data-aos="fade-up" style="background-image: url( {{ raum3.bild2 }});">
                  </div>
                </div>
                <div class="col-md-11 offset-md-1">
                  <div class="shadow ratio ratio-16x9 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-right" style="background-image: url( {{ raum3.bild1 }} );--bs-aspect-ratio: 70%;">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <h2 class="py-5 border-top border-dark" data-aos="fade-left">{{raum3.name}}</h2>
              
              <h3 class="py-5" data-aos="fade-left">{{raum3.textblock-gross}}</h3>
              <p data-aos="fade-left" data-aos-delay="200">{{raum3.textblock-klein}}</p>
            </div>
          </div>
        </div>
      </div>



      <div class="position-relative overflow-hidden w-100 bg-light" id="galerie">
        <div class="container-fluid">
          <div class="row overflow-scroll">
            <div class="col-12">
              <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">
                <div class="col-md-2" data-aos="fade-up">
                    <img src="img/webp/interior37.webp" class="rounded shadow img-fluid" alt="nice gallery image" width="512" height="341">
                </div>

                <div class="col-md-2" data-aos="fade-up" data-aos-delay="200">
                    <img src="img/webp/people1.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="1164" height="776">
                </div>

                <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
                    <img src="img/webp/people2.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="844" height="1054">
                </div>

                <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
                    <img src="img/webp/interior29.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="844" height="562">
                </div>

                <div class="col-md-2" data-aos="fade-up" data-aos-delay="800">
                    <img src="img/webp/people23.webp" class="rounded shadow img-fluid" alt="nice gallery image" width="512" height="341">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light w-100 overflow-hidden" id="testimonials">
  <div class="container py-vh-6">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
  <h2 class="display-6">Loved by people all around the globe</h2>
  <p class="lead">Our spaces and offices are soooooo lovely, no one would give us a negative rating! And look at these trustworthy avatar pictures! Trust us!</p>
</div>



<div class="col-12 mt-4">
  <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">
    {% for review in site.reviews %}
    <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-right">
      <div class="card p-4 mt-3 border-0">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">
            {% assign max_stars = 5 %}
            {% assign rating = review.rating | default: 5 %}
            {% assign full_stars = rating | floor %}
            {% if rating != full_stars %}
              {% assign has_half_star = true %}
            {% else %}
              {% assign has_half_star = false %}
            {% endif %}
            {% assign empty_stars = max_stars | minus: full_stars %}
            {% if has_half_star %}
              {% assign empty_stars = empty_stars | minus: 1 %}
            {% endif %}

            <span class="stars">
              {% for i in (1..full_stars) %}
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#6E7361" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              {% endfor %}

              {% if has_half_star %}
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#6E7361" class="bi bi-star-half" viewBox="0 0 16 16">
                  <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                </svg>
              {% endif %}

              {% for i in (1..empty_stars) %}
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#6E7361" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                </svg>
              {% endfor %}
          </div>
          <blockquote class="blockquote">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 310 310"><path d="M79 144.11c-6 0-11.37.28-16.19.8 8.02-32.82 27.27-48.06 55.31-60.35L103.1 50.31C75.18 62.56 56.9 76.59 43.81 95.82c-15.2 22.35-22.6 51.72-22.6 89.81v16.46c0 31.83.11 57.6 57.79 57.6 57.79 0 57.79-25.87 57.79-57.79 0-31.91.37-57.79-57.79-57.79zm152 0c-6 0-11.37.28-16.19.8 8.02-32.82 27.27-48.06 55.31-60.35L255.1 50.31c-27.92 12.25-46.2 26.28-59.29 45.51-15.2 22.35-22.6 51.72-22.6 89.81v16.46c0 31.83.11 57.6 57.79 57.6 57.79 0 57.79-25.87 57.79-57.79 0-31.91.37-57.79-57.79-57.79z" fill="#6E7361"></path></svg>
            <p>{{ review.content }}</p>
            <div align="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  viewBox="0 0 310 310"><path d="M231 167.84c6.02 0 11.42-.28 16.25-.81-7.1 29.03-22.95 44.36-45.88 56.04-5.33 2.71-7.63 9.1-5.23 14.57l6.04 13.77c2.59 5.91 9.62 8.44 15.38 5.53 22.1-11.11 37.39-23.92 48.76-40.63C281.58 193.89 289 164.4 289 126.17v-16.52c0-31.95-.11-57.81-58-57.81-58 0-58 25.97-58 58s-.38 58 58 58zm-152 0c6.02 0 11.42-.28 16.25-.81-7.1 29.03-22.95 44.36-45.88 56.04-5.33 2.71-7.63 9.1-5.23 14.57l6.04 13.77c2.59 5.91 9.62 8.44 15.38 5.53 22.1-11.11 37.39-23.92 48.76-40.63C129.58 193.89 137 164.4 137 126.17v-16.52c0-31.95-.11-57.81-58-57.81-58 0-58 25.97-58 58s-.38 58 58 58z" fill="#6E7361"></path></svg>
            </div>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <div>
              <span class="h6 fw-5">{{ review.author }}</span><br>
              <small class="text-muted">{{ review.role }}</small>
            </div>
            {% if review.image %}
            <img src={{ review.image }} width="48" height="48" class="rounded-circle" alt="" data-aos="fade">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="small py-vh-3 w-100 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
  <div class="d-flex">
    <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-box-seam" viewbox="0 0 16 16">
        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
      </svg>
    </div>
    <div class="col-md-9 flex-fill">
      <h3 class="h5 my-2">Delivery Service</h3>
      <p>If we had any physical goods we would deliver them to your door steps. Of course in time and to the right adress. But we have no products...</p>
    </div>
  </div>
</div>
<div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
  <div class="d-flex">
    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-card-checklist" viewbox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
      </svg>
    </div>
    <div class="col-md-9 flex-fill">
      <h3 class="h5 my-2">Independently Checked</h3>
      <p>Maybe we would do something to ensure that you get what you ordered. But you can´t order anything here, so we can give you a 100% gurantee that anything would be great!</p>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
  <div class="d-flex">
    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-window-sidebar" viewbox="0 0 16 16">
        <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
        <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z"/>
      </svg>
    </div>
    <div class="col-md-9 flex-fill">
      <h3 class="h5 my-2">Online Support</h3>
      <p>Okay, we have this crazy online support form. Fill it out and the content will be mailed to you as PDF. Print it out. Than send it via Fax to our super duper hidden Fax number.</p>
    </div>
  </div>
</div>

    </div>
  </div>
</div>

<div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <h3 class="fs-2 fw-light">Stay in touch with our<span class="fw-bold">
          monthly and free</span>
        newsletter!
    </h3></div>
    <div class="col-12 col-lg-8 text-center">
      <div class="row">
        <div class="grouped-inputs border bg-light p-2">
  <div class="row">
    <div class="col">
      <form class="form-floating">
        <input type="email" class="form-control p-3" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </form>
    </div>
    <div class="col-auto">
      <a href="#" class="btn btn-dark py-3 px-5">Subscribe</a>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

    </main>


    <script src="js/bootstrap.bundle.min.js"></script>
<script src="js/aos.js"></script>
 <script>
 AOS.init({
   duration: 800, // values from 0 to 3000, with step 50ms
 });
 </script>

 <script>
  let scrollpos = window.scrollY
  const header = document.querySelector(".navbar")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
  const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos >= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

    console.log(scrollpos)
  })
</script>
